.currencyTableau__Item {
  color: #ffffff;
  border: 1px solid pink;
  border-radius: 20px 0 20px 0;
  padding: 10px;
  transition: all .35s ease-out;
  box-shadow: 5px 5px 10px 3px pink;
  &:hover {
    cursor: default;
    transform: scale(1.1);
    box-shadow: none;
  }
}